doctype html
html
	head
		title Moped Website

	body
		#fb-root
		// Add the Facebook SDK to the website
		script.
					(function (d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s);
						js.id = id;
						js.src = 'https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.11';
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));

		.fb-page(style='position: absolute; left: 35%; width: 50%' data-href='https://www.facebook.com/Dev-Bot-Personal-' + page_id + '/', data-tabs='messages', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
			blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/Dev-Bot-Personal-' + page_id + '/')
				a(href='https://www.facebook.com/Dev-Bot-Personal-' + page_id + '/') Dev Bot Personal

		div(style='position: absolute; bottom: 30px; right: 130px')
			a(href='https://m.me/' + page_id + '?ref=morningslot') Book a morning slot
			br
			a(href='https://m.me/' + page_id + '?ref=afternoonslot') Book an afternoon slot

		.fb-customerchat(page_id=page_id, minimized='true', ref='morningslot')